{% extends "CHRPlatformBundle::layout.html.twig" %}

{% block title %}Création Sondage — {{ parent() }}{% endblock %}

	{% block body %}

		<div class="container">
			<h1 class="text-center">Formulaire de création de sondage</h1>
		</div>

	{% endblock %}